<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ms.kk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".module.photo.show.PhotoShowActivity"></activity>
        <activity android:name=".module.about.AboutUsActivity" />
        <activity android:name=".module.setting.SettingActivity" />
        <activity android:name=".module.search.SearchActivity" />
        <activity
            android:name=".module.movie.play.MoviePlayActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".module.photo.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.age.EditUserAgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.sex.EditUserSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.name.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <activity android:name=".module.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ms.kk.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>